nav {
  height: 110px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 0 11rem;
  background-color: $off-white;
  z-index: 99;

  a {
    color: $text-primary;
  }

  .nav-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .name {
      @include nav-name;

      a {
        transition: $trans;

        &:hover {
          color: $text-tertiary;
        }
      }
    }
  }

  .nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .links {
      @include nav-link;

      .nav-link-tray {
        display: flex;
        flex-direction: row;

        .nav-item {
          list-style: none;
          margin-left: 20px;

          a {
            transition: $trans;

            &:hover {
              color: $text-tertiary;
              border-bottom: $text-tertiary 0.125em solid;
            }
          }
        }
      }
    }
  }
}