//colors
$color-primary: #f06965;

$black: #212121;
$text-primary: #030303;
$text-secondary: #3F3F3F;
$text-tertiary: #757575;
$gray: #B7BABF;
$light-gray: #F0F0F0;
$off-white: #fafafa;
$white: #ffffff;

//font
$font-primary: "Poppins", sans-serif;

//other
$trans: all .15s ease-in-out;
$margin: 0 22rem;

